body{
    font-family: 'Roboto', sans-serif;
    background-color:grey;
}
.container{
    height:50vh;
    width:100vh;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
    background-color:rgba(188, 188, 197, 0.308);
    padding:30px;
    border:1px solid rgba(236, 232, 232, 0.226);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.123);
    
}
.title{
    font-size:30px;
    padding-top:10px;
    text-transform: uppercase;
    text-align: center;
    color:black;
}
.question{
    font-size:22px;
    padding:20px;
    border-radius:20px;
    background:darkblue;
    margin: 10px 0 10px 0;
}
.option{
    width:250px;
    display:inline-block;
    padding:10px 0px 10px 15px;
    vertical-align: middle;
    margin:10px 0 10px 10px;
    border-radius:20px;
    background-color:rgba(0, 0, 0, 0.274);
}
.option:hover{
    background:pink;
    color:red;
}
.nxt-btn{
    border:none;
    outline:none;
    border-radius:20px;
    background-color:blue;
    height:30px;
    width:100px;
    cursor: pointer;
    float:right;
    margin:15px;
}
.nxt-btn:hover{
    background-color:pink;
    color:red;
}
.result{
    height:100px;
    text-align: center;
    font-size:30px;

}
.option input:checked .option{
    background-color: black;
    color:purple;
}